.navbar {
	background-color: white;
}


.foot>li{
	padding-top: 1em ;
	padding-bottom: .5em;
	color: #828486;
}

.navbar{
border-radius: 0px;
}

a:hover,
span.contact:hover{
	color:#1D8EE6;
	text-decoration: none;
	cursor:pointer;
}



a,
span.contact {
color: #828486;
}

p{
	color:rgb(65, 69, 71);
}

h2.projects{
	color:rgb(53, 146, 237);
	text-decoration: underline;;
}

h3.about{
	color: rgb(84, 79, 79);
	float:center;
}

h3.about>i:hover{
	cursor:pointer;
	color:#1D8EE6;
}

div.about{
	text-align: left;
}

a.index, a.index:hover{
	color:#1D8EE6;
	text-decoration: none;
	padding-left: 1em;
}

h1.sam{
	-webkit-transition: all .75s ease;
     -moz-transition: all .75s ease;
       -o-transition: all .75s ease;
      -ms-transition: all .75s ease;
          transition: all .75s ease;
          max-width: auto;
	color:black;
}


h1.pull-l{
	-webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
	position: absolute;
	top:-10px;
	left:calc(50vw - 95px);
}

h1.sam:hover{
	-webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
    color:#fff;
	text-shadow: 5px 0 10px black;
	cursor:pointer;
 }

h1.hide{
	-webkit-transition: all 1.5s ease;
     -moz-transition: all 1.5s ease;
       -o-transition: all 1.5s ease;
      -ms-transition: all 1.5s ease;
          transition: all 1.5s ease;
          color:rgba(29,142,230,0);
}

h1.red
{
	color: #4B95FF;
	left:calc(50vw - 55px);
}

h1.a
{
	left:calc(50vw - 74px);
}

h1.pull-r-a,h1.pull-r-c,h1.pull-r{
	pointer-events:none;
	color: rgba(0,0,0,0);
	position:absolute;
	top:calc(90vh - 15px);
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
	
}


h1.pull-r-c
{
	left:calc(50vw - 55px);
}

h1.pull-r-a
{
	left:calc(50vw - 74px);
}

h1.pull-r
{
	left:calc(50vw - 95px);
}

ul.contact-list{
	display:block;
	margin-bottom:15px;
	font-size: 104%;
}





ul{
	list-style-type: none;
}

ul.hexes>li{
	display:inline-block;
	padding: 0 8vw;
}
ul.hexes{
	margin-top: 5vh;
}

li{
	display:inline-block;
	padding: 0 3%;
}

body {
  background: url(/img/GoldenGate.JPG) fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
 
}




h1, h2, h3, h4, h5, h6 {
	 font-family: 'Josefin Sans', sans-serif;
}

p, div, li {
	font-family: 'Lato', sans-serif;
	font-size: 102%;
   }

div.home-content{
	position: relative;
	text-align:center;
	vertical-align: center;
}

div.contact{
	text-align:center;
}

}
.back{
	width:100%;
	text-align: center;
}
 
.back i{
	color:blue;
}
.back i:hover{
	cursor:pointer;
	color:red;
}

.contact a{
	color:#4D545E;
}

.contact a:hover{
	color:#1D8EE6;

}

body{
	height:100%;
	width:100%;
}

.container-wide,
.container-wide-body,
.container-wide-footer{
	width:100%;
	color:rgba(0,0,0,0);
	-webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
	/*background-color:rgba(255,255,255,.85);*/
}

.container-white-body{
	background-color: rgba(255,255,255,0.85);
	margin-top: 11vh;
	max-height:calc(75% - 7em);
	position:absolute;
	overflow-y:scroll; 
	padding: 0 17vw 2vw;
	width:100%;
	-webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.container-white-body::-webkit-scrollbar {
      width:30px; // manage scrollbar width here
}
.container-white-body::-webkit-scrollbar * {
      background:transparent; // manage scrollbar background color here
}

div.navbar-fixed-bottom{
	text-align:center;
	max-height:3.5em;
}


.container-wide-body{
	margin-top: 15vh;
	height: auto;
	max-height: 70%;
	position:absolute;
	overflow-y:scroll; 
}

.container-white-body.wide-contact{
	margin-top:20vh;
}

.container-wide-body::-webkit-scrollbar {
      width:25px; // manage scrollbar width here
}
.container-wide-body::-webkit-scrollbar * {
      background:transparent; // manage scrollbar background color here
}

.hexagon{
	background-image: url(/img/MoosePic.jpg);

}


#contact.hexagon{
  background-image: url(/img/Tahoe.JPG);
}

#resume.hexagon{
	background-image: url(/img/Capitola.jpg);
}

#contact.hexagon:hover,
#resume.hexagon:hover,
#pic.hexagon:hover{
  color: #fff;
  text-shadow: 0 0 10px white;
}


.hexagon:hover{
	-webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
	cursor:pointer;
}

.pic{
	width:150px;
	display:block;
	}


.phone{
	width:150px;
	display:block;

}

.resume{
	width:150px;
	display:block;
}

#spinner {
	position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(/img/Loading.gif) 50% 50% no-repeat #ede9df;
}



