.navbar {
	background-color: white;
}

.nav > li {
position: relative;
display: inline-block;
}

.nav > li > a {
padding: 1em 2em;
color: #828486;
}

.nav > li > a:active{
color: #11202C;
}

.foot>li{
	padding-top: 1em ;
	padding-bottom: .5em;
	color: #828486;
}

.navbar {
border-radius: 0px;

}

a:hover{
	color:black;
	text-decoration: none;
}

a {
color: #828486;
}

p{
	color:black;
}

h2.about{
	color: rgb(172, 87, 87);
}


.nav> li> a:active{
background-color: #F7F8FC;
}

a.index, a.index:hover{
	color:#1D8EE6;
	text-decoration: none;
}

h2.sam{
	color:#1D8EE6;
	padding-left: 1em;
}

h2{
	color:black;
}

}
div.my-name{
	padding-left: 1.5em;

}



body {
  background: url(/img/GoldenGate.JPG) fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body.contact {
  background: url(/img/GoldenGate.JPG) fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


h1, h2, h3, h4, h5, h6 {
	 font-family: 'Josefin Sans', sans-serif;
}

p, div, li {
	font-family: 'Josefin Slab', serif;
	font-size: 105%;
   }

div.home-content{
	position: relative;
	
}

div.contact{
	text-align:center;
	margin-top: 5%;
}


body{
	height:100%;
	width:100%;
}

.container-wide,
.container-wide-body,
.container-wide-footer{
	width:100%;
	background-color:rgba(255,255,255,.85);
}

.img-top{
	margin-top:15%;
	height:20%;
	background: rgba(0,0,0,0);
}

.img-bottom{
	margin-bottom:10%;
	height:15%;
	background: rgba(0,0,0,0);

}

div.navbar-fixed-bottom{
	text-align:center;
	max-height:3.5em;
}


.container-wide-body{
	margin-top: 11%;
	margin-bottom: 17%;
	max-height: 60%;
	position:absolute;
	overflow-y:scroll; 
	padding: 1% 17% 5% 17%;
}

.container-wide-body::-webkit-scrollbar {
      width:30px; // manage scrollbar width here
}
.container-wide-body::-webkit-scrollbar * {
      background:transparent; // manage scrollbar background color here
}



