.navbar {
	background: url(/img/binding_dark.png) repeat 0 0;
	margin-bottom: 0;
}

.nav > li {
position: relative;
display: inline-block;
}

.nav > li > a {
padding: 1em 1em;
}

.foot>li{
	padding-top: 1em ;
	padding-bottom: .5em;
	color: #4289ca;
}

.navbar {
border-radius: 0px;

}



a {
color: #4289CA;
}

p{
	color:white;
}

}
a:hover {
color: #636CA7;
}

.nav> li> a:active{
background-color: #F7F8FC;
}

h2.sam{
	color:#4289CA;
}

h2{
	color:white;
}

}
div.my-name{
	padding-left: 1.5em;

}

.container-narrow {
max-width: 100%;
max-height: 26em;
overflow:scroll;
}

body {
  background: url(/img/santacruz_trees.jpg) fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}

p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

div.home-content{
	position: relative;
	margin-left: 15%;
	margin-right: 15%;
	overflow:scroll;
}

body{
	height:100%;
	width:100%;
}

.container-wide,
.container-wide-body,
.container-wide-footer{
	width:100%;
	background: url(/img/binding_dark.png) repeat 0 0;
}

.img-top{
	margin-top: 3em;
	width:100%;
	height:7em;
	background: rgba(0,0,0,0);
}

.img-strip{
	width:100%;
	margin-bottom:2em;
	height:7em;
	background: rgba(0,0,0,0);

}

div.navbar-fixed-bottom{
	text-align:center;
	max-height:3.5em;
}


.container-wide-body{
	max-height: 60%;
	overflow: scroll;
}

 





