.navbar {
	background-color: rgba(255,255,255,.80);
	margin-bottom: 0px;
}

.nav > li {
position: relative;
display: inline-block;
}

.nav > li > a {
padding: 1em .4em;
color:#828486;
}

.nav > li > a:active{
color: #11202C;
}

.foot>li{
	padding-top: 1em ;
	padding-bottom: .5em;
	color: #828486;
}

.navbar {
border-radius: 0px;
}

a:hover{
	color:#1D8EE6;
	text-decoration: none;
}

a {
color: #828486;
}

p{
	color:black;
}


h3.about{
	color: rgb(172, 87, 87);
}

.nav> li> a:active{
background-color: #F7F8FC;
}

li{
	display:block;
	padding: 3% 0;
}

a.index, a.index:hover{
	color:#1D8EE6;
	text-decoration: none;
	padding-left: 1em;
}

h2.sam{
	color:#1D8EE6;
	padding-left: 1em;
}

h2{
	color:black;
}

}
div.my-name{
	padding-left: 1.5em;

}



body {
  background: url(/img/Wisco.jpg) fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body.contact {
  background: url(/img/Wisco.jpg) fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


h1, h2, h3, h4, h5, h6 {
	 font-family: 'Josefin Sans', sans-serif;
}

p, div, li {
	font-family: 'Lato', sans-serif;
	font-size: 105%;
   }

div.home-content{
	position: relative;
	padding-left:22%;
	
}

div.contact{
	text-align:center;
	margin-top: 0%;
}

.contact a{
	color:#C5264C;
}

body{
	height:100%;
	width:100%;
}

.container-wide,
.container-wide-body,
.container-wide-footer{
	width:100%;
	/*background-color:rgba(255,255,255,.80);*/
}



div.navbar-fixed-bottom{
	text-align:center;
	max-height:3.5em;
}


.container-wide-body{
	margin-top: 15%;
	margin-bottom: 17%;
	max-height: 80%;
	position:absolute;
	overflow-y:scroll; 
	-webkit-overflow-scrolling: touch;
	padding: 5% auto;
}

.container-wide-body::-webkit-scrollbar {
      width:30px; // manage scrollbar width here
}
.container-wide-body::-webkit-scrollbar * {
      background:transparent; // manage scrollbar background color here
}

.container-white-body{
	background-color: rgba(255,255,255,0.85);
	margin-top: 0%;
	margin-bottom: 17%;
	max-height: 100%;
	position:absolute;
	overflow-y:scroll; 
	padding: 0 0 3% 0;
	width:100%;
}

.container-white-body::-webkit-scrollbar {
      width:30px; // manage scrollbar width here
}
.container-white-body::-webkit-scrollbar * {
      background:transparent; // manage scrollbar background color here
}

.hexagon{
	background-image: url(/img/MoosePic.jpg);
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
      -webkit-filter: saturate(5);
      filter: saturate(5);

}

#pic.hexagon{
-webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

#pic.hexagon:hover{
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	 -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
}

#contact.hexagon{
  background-image: url(/img/Tahoe.JPG);
}

#resume.hexagon{
	background-image: url(/img/GoldenGate.JPG);
}

#contact.hexagon:hover,
#resume.hexagon:hover{
  color: #fff;
  text-shadow: 0 0 10px white;
}


.hexagon:hover{
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	-webkit-filter: saturate(1);
      filter: saturate(1);
	cursor:pointer;
}

.pic{
	float:left;
	width:150px;
	display:block;
	margin: 0 12%;
	}


.phone{
	float:left;
	width:150px;
	display:block;
	margin: 0 12%;

}

.resume{
	float:left;
	width:150px;
	display:block;
	margin: 0 12%;

}


